# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AR Auto Placement.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Shadman Arko\Downloads\AR Foundation test\AR Foundation test\Assets\Scripts\AR Auto Placement\.idea\.idea.AR Auto Placement.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
